<h2>Create a  new task</h2>

<!-- <form action="/tasks" method="post">
  <label for="title">What is the task name?</label>
  <input type="text" id="title" name="task[title]">

  <label for="title">What is the task description?</label>
  <input type="text" id="description" name="task[description]">

  <span>Have you done the task?</span>
  <label for="true">Done</label>
  <input type="radio" id="true" name="task[done]" value="true">
  <label for="false">Not done</label>
  <input type="radio" id="false" name="task[done]" value="false">

  <input type="submit">
</form>
 -->

<%= render 'form' %>
